.card {
  margin: 20px 0;
}
.fa-sort-down {
  cursor: pointer;
  margin-left: 5px;
}
.fa-pencil-alt {
  cursor: pointer;
  color: orange;
  padding-right: 20px;
  align-self: center;
}
.fa-times {
  cursor: pointer;
  color: red;
  padding-right: 20px;
  align-self: center;
}
